* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

@font-face {
    font-family: 'Futura-700';
    src: url(fonts/Futura-Med.ttf) format('truetype');
    font-weight: bold;   /* 700と同じ */
}

@font-face {
    font-family: 'Futura-400';
    src: url(fonts/Futura-Boo.ttf) format('truetype');
    font-weight: normal;   /* 400と同じ */
}

@font-face {
    font-family: 'Futura-lighter';
    src: url(fonts/Futura-LigObl.ttf) format('truetype');
    font-weight: lighter;
    font-style: italic;
}

/* nav {
    height: 66px;  
} */

nav ul {
    display: flex;
    justify-content: flex-end;
    margin: 0 50px;
}

nav a {
    display: inline-block;
    padding: 30px 15px 0;
    color: #fff;
    font-size: 27px;
    font-family: 'Futura';
    font-weight: normal;
    transition: 0.5s ;  
    /* height: 66px; */
}

nav a:hover {
    color: #3d5cdb;
}

.title {
   /* width: 900px;
   height: 340px;
   margin: 0 auto;
   margin-top: 125px; */
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translateY(-50%) translateX(-50%);
}

.title img {
    width: 900px;
    /* display: inline-block;
    text-align: center; */
}

.title p {
    margin-top: 30px;
    text-align: center;
    color: #fff;
    font-size: 45px;
    font-family: 'Futura';
    font-weight: lighter;
    font-style: italic;
}

.bg-switcher {
    width: 100vw;
    height: 100vh;
    background-image: url(images2/background1.jpg);
    background-position: center center;
    background-size: cover;
}

h2 {
    text-align: center;
    padding: 40px;
    color: #3d5cdb;
    font-size: 53px;
    font-family: 'Futura';
}

.intro1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    /* padding: 20px 0 30px; */
}

.intro-img {
    width: 500px;
    margin: 20px;
}

.intro-box {
    width: 500px;
    margin: 20px;
    /* margin: 10px 0 0 40px; */
}

.intro-text {
    width: 400px;
    margin: 0 auto 20px;
    line-height: 32px;
}

.intro-button {
    text-align: center;
    display:block;
    margin: 30px auto;
    width: 170px;
    background-color: #3d5cdb;
    border-radius: 12px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    line-height: 40px;
    /* margin: 30px 165px; */
}

.intro-button:hover {
    box-shadow: #858c8e 0px 2px 15px 2px;
}

.intro2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    /* padding: 20px 0 30px; */
}

.intro-box2 {
    width: 500px;
    margin: 20px;
    /* margin: 10px 0 0 40px; */
}

.yellow {
    background-color: #ffbf00;
}

#courses {
    text-align: center;
    background-color: #D3E4F7;
   /* height: 941px; */
}

.course {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.course-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 55px 50px;
}

.course-box {
    width: 240px;
    padding: 30px;
    background-color: #fff;
    border-radius: 8px;
    margin: 20px 10px 10px;
}

.course-box-img {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.course-box-img img {
    max-width: 100%;
    max-height: 100%;
}

.course-box-name {
    font-size: 15px;
    font-weight: 700;
    color: #183c61;
    padding-top: 20px;
    margin-top: 10px;
}

.course-box-button {
    display: inline-block;
    font-weight: 700;
    margin: 25px 5px 15px 5px;
    width: 170px;
    background-color: #f16529;
    border-radius: 12px;
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    line-height: 40px;
    text-decoration: none;
}

.course-box-button:hover {
    box-shadow: #858c8e 0px 2px 15px 2px;
}

.css {
    background-color: #29a9df;
}

.unity {
    background-color: #333333;
}

.ruby {
    background-color: #ff5252;
}

.js {
    background-color: #fed700;
}

.swift {
    background-color: #fe7536;
}

.go {
    background-color: #73cedd;
}

.slider {
    width: 100%;
    display: flex;
    max-width: 80%;
    margin: auto;
    margin-top: 30px;
}

.slider li {
    height: auto;
}
  
.slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
.slick-prev:before,
.slick-next:before {
    color: black;
}
  
.slick-dots {
    left: 50%;
    transform: translateX(-50%);
}

#access {
    padding: 50px 0 40px 0;
}

#access h2 {
    padding: 40px;;
}

iframe {
    display: flex;
    margin: 0 auto;
}

footer {
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 16px;
    color: #3d5cdb;
    font-family: 'Futura';
    font-weight: 400;
}

#introduction, #courses, #images, #access {
    opacity: 0;
    transform: translateY(-20px);
    transition: all 1s ease-in-out ;
}

canvas{
	position:absolute;/*親のブロックを基準にして相対位置に配置する*/
	/*位置指定*/
	top:0;
	right:0;
	z-index:-1;/*重ね順を-1に　※1以上だとほかのコンテンツの上に被さってしまいます*/
}


/* ここからスマホ用（幅480以下） */      /* ここからスマホ用（幅480以下） */     /* ここからスマホ用（幅480以下） */
@media all and (max-width:480px) {


    nav {
        display: none;
    }

    .title img {
        width: 70vw;
    }
    
    .title p {
        margin-top: 20px;
        font-size: 100%;
    }
    
    .bg-switcher {
        width: 100vw;
        height: 100vh;
        background-image: url(images2/background1.jpg);
        background-position: center center;
        background-size: cover;
    }

    h2 {
        /* padding: 40px; */
        padding-bottom: 20px;
        font-size: 32px;
    }

    .intro1 {
        /* display: flex;
    justify-content: center;
    align-items: center; */
        margin-bottom: 30px;
        font-size: 13px;
        flex-wrap: wrap;
        /* padding: 20px 0 30px; */
    }
    
    .intro-img {
        width: 90%
        /* margin: 20px; */
    }
    
    .intro-box {
        width: 100%;
        margin-bottom: 20px;
        /* margin: 10px 0 0 40px; */
    }
    
    .intro-text {
        width: 90%;
        margin: 0 auto;
    }
    
    .intro2 {
        margin-bottom: 30px;
        font-size: 13px;
        flex-wrap: wrap-reverse;
        /* padding: 20px 0 30px; */
    }
    
    .intro-box2 {
        width: 100%;
        margin-bottom: 20px;
        /* margin: 10px 0 0 40px; */
    }
    
    .course-box {
        width: 160px;
        height: 220px;
        padding: 10px;
        margin: 20px 10px 10px;
    }

    .course-boxes {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 0 50px 0;
    }
    
    .course-box-img {
        width: 90px;
        height: 90px;
        margin: 10px auto 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .course-box-name {
        font-size: 14px;
        margin-top: 0px;
    }
    
    .course-box-button {
        margin: 15px auto;
        width: 100%;
        border-radius: 10px;
        font-size: 12px;
    }




    iframe {
        width: 100vw;
    }

  
}